<mat-grid-list [cols]="noOfRowsAndColumns" rowHeight="1:1" class="cates-graph">
    <mat-grid-tile *ngFor="let catesPerson of catesPeople">
        <span *ngIf="catesPerson.type==0" [matTooltip]="textGood">
            <mat-icon *ngIf="type=='treatment'" svgIcon="good-despite" class="responsive-icon"></mat-icon>
            <mat-icon *ngIf="type=='diagnosis'" svgIcon="true-negative" class="responsive-icon"></mat-icon>
        </span>
        <span *ngIf="catesPerson.type==1" [matTooltip]="textOK">
            <mat-icon *ngIf="type=='treatment'" svgIcon="good-because" class="responsive-icon"></mat-icon>
            <mat-icon *ngIf="type=='diagnosis'" svgIcon="false-positive" class="responsive-icon"></mat-icon>
        </span>
        <span *ngIf="catesPerson.type==2" [matTooltip]="textBad">
            <mat-icon *ngIf="type=='treatment'" svgIcon="bad-despite" class="responsive-icon"></mat-icon>
            <mat-icon *ngIf="type=='diagnosis'" svgIcon="true-positive" class="responsive-icon"></mat-icon>
        </span>
        <span *ngIf="catesPerson.type==3" [matTooltip]="textLetDown">
            <mat-icon *ngIf="type=='treatment'" svgIcon="bad-because" class="responsive-icon"></mat-icon>
            <mat-icon *ngIf="type=='diagnosis'" svgIcon="false-negative" class="responsive-icon"></mat-icon>
        </span>
        <!--
        <span *ngIf="catesPerson.type==0" class="fa-stack fa-lg cates-person" [matTooltip]="textGood">
            <i class="fa fa-circle fa-stack-2x good-outcome shadow"></i>
            <i class="fa fa-smile-o fa-stack-2x good-outcome" ></i>
        </span>
        <span *ngIf="catesPerson.type==1" class="fa-stack fa-lg cates-person" [matTooltip]="textOK">
            <i class="fa fa-circle fa-stack-2x better-with-treatment shadow"></i>
            <i class="fa fa-meh-o fa-stack-2x better-with-treatment"></i>
        </span>
        <span *ngIf="catesPerson.type==2" class="fa-stack fa-lg cates-person" [matTooltip]="textBad">
            <i class="fa fa-circle fa-stack-2x bad-outcome shadow"></i>
            <i class="fa fa-frown-o fa-stack-2x bad-outcome"></i>
        </span>
        <span *ngIf="catesPerson.type==3" class="fa-stack fa-lg cates-person" [matTooltip]="textLetDown">
            <i class="fa fa-circle fa-stack-2x better-with-control shadow"></i>
            <i class="fa fa-smile-o fa-stack-2x better-with-control"></i>
            <i class="fa fa-ban fa-stack-2x bad-outcome"></i>
        </span>-->
    </mat-grid-tile>
</mat-grid-list>