.cates-graph {
  /*width: 430px;*/
  padding-top: 10px;
}

.good-outcome {
  color: #4CAF50;   
}

.better-with-treatment {
  color: #FFEB3B;  
}

.bad-outcome {
  color: #F44336;   
}

.better-with-control {
  color: #4CAF50;  
}

.shadow {
  text-shadow: 2px 2px 1px rgba(0,0,0,.2);
  /*box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);*/
}


@media screen and (max-width: 450px) {
    .cates-person {
      font-size: 0.75em;
    }
}