<nav class="docs-navbar-header">
    <a mat-button aria-label="EBM Calculators" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" href="/">EBM Calculators</a>
    <a mat-button aria-label="RISK/NNT" routerLink="nntt" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" href="nntt">RISK/NNT</a>
    <a mat-button aria-label="DIAGNOSIS" routerLink="diagnosis" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" href="diagnosis">DIAGNOSIS</a>
</nav>