<div class="page-wrapper">
    <div fxLayout="column" fxLayoutAlign="start stretch">
        <div fxFlex="nogrow">
            <mat-card>
                <!--mat-card-header>
                    <div mat-card-avatar><mat-icon class="size-40">keyboard</mat-icon></div>
                    <mat-card-title>1. Calculate</mat-card-title>
                    <mat-card-subtitle>Enter data and calculate</mat-card-subtitle>
                </mat-card-header-->
                <mat-card-content>
                    <div fxLayout='row' fxLayout.lt-sm="column">
                        <form [formGroup]="studyForm" (ngSubmit)="onSubmit()">
                            <div fxFlex="200px" class="card-header">
                                <h1 class="header-no-top-margin">Calculate</h1>
                            </div>
                            <div fxFlex class="card-content">
                                <div fxLayout='row' fxLayoutAlign="start start"> 
                                    <div fxFlex fxLayout='column' class="form-column">
                                        <h3 class="header-no-top-margin">Event</h3>
                                        <mat-form-field *ngIf="!simulated" class="full-width">
                                            <input type="number" min="0" step="1" matInput required formControlName="eventIndivInterv" name="eventIndivInterv" placeholder="Intervention" class="full-width" [class.pulse]="eventIndivIntervChanged">
                                            <mat-error>
                                                Please enter a non-negative integer
                                            </mat-error>
                                        </mat-form-field>
                                        <div *ngIf="simulated" class="full-width simulated-wrapper">
                                            <div class="simulated-value-header">Intervention (simulated)</div>
                                            <div class="simulated-value"><changer-component [value]="this.study.eventIndivInterv | number:'1.1-3'"></changer-component></div>
                                        </div>
                                        <mat-form-field *ngIf="!simulated" class="full-width">
                                            <input type="number" min="0" step="1" matInput required formControlName="eventIndivControl" name="eventIndivControl" placeholder="Control" class="full-width" [class.pulse]="eventIndivControlChanged">
                                            <mat-error>
                                                Please enter a non-negative integer
                                            </mat-error>
                                        </mat-form-field>
                                        <div *ngIf="simulated" class="full-width simulated-wrapper">
                                            <div class="simulated-value-header">Control (simulated)</div>
                                            <div class="simulated-value"><changer-component [value]="this.study.eventIndivControl | number:'1.1-3'"></changer-component></div>
                                        </div>
                                    </div>
                                    <div fxFlex class="form-column">
                                        <h3 class="header-no-top-margin">No event</h3>
                                        <mat-form-field  *ngIf="!simulated" class="full-width">
                                            <input type="number" min="0" step="1" matInput required formControlName="noEventIndivInterv" name="noEventIndivInterv" placeholder="Intervention" class="full-width"> 
                                            <mat-error>
                                                Please enter a non-negative integer
                                            </mat-error>
                                        </mat-form-field>
                                        <div *ngIf="simulated" class="full-width simulated-wrapper">
                                            <div class="simulated-value-header">Intervention (simulated)</div>
                                            <div class="simulated-value"><changer-component [value]="this.study.noEventIndivInterv | number:'1.1-3'"></changer-component></div>
                                        </div>
                                        <mat-form-field  *ngIf="!simulated" class="full-width">
                                            <input type="number" min="0" step="1" matInput required formControlName="noEventIndivControl" name="noEventIndivControl" placeholder="Control" class="full-width">  
                                            <mat-error>
                                                Please enter a non-negative integer
                                            </mat-error>
                                        </mat-form-field>
                                        <div *ngIf="simulated" class="full-width simulated-wrapper">
                                            <div class="simulated-value-header">Control (simulated)</div>
                                            <div class="simulated-value"><changer-component [value]="this.study.noEventIndivControl | number:'1.1-3'"></changer-component></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button-container">
                                <button mat-fab type="submit" [disabled]="!studyForm.valid || simulated" class="btn btn-success" color="accent"><mat-icon>keyboard</mat-icon></button>
                            </div>
                        </form>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="nogrow">
            <mat-card>
                <mat-card-content>
                    <div fxLayout='row' fxLayout.lt-sm="column">
                        <div fxFlex="200px" class="card-header">
                            <h1 class="header-no-top-margin">Simulate</h1>
                        </div>
                        <div fxFlex class="card-content">
                            <div fxFlex fxLayout='row' fxLayout.lt-sm="column" fxLayoutAlign="space-between start" class="slider-container"> 
                                <div fxFlex="33">
                                    Prevalence (%):
                                </div>
                                <div fxFlex="67">
                                    <mat-slider 
                                        class="full-width" 
                                        min="1" 
                                        [max]="maxAdjustPrevalenceBy" 
                                        step="10" 
                                        [(ngModel)]="adjustPrevalenceBy"
                                        [ngModelOptions]="{standalone: true}"
                                        thumbLabel 
                                        [disabled]="!calculated"
                                        (change)="onAdjustPrevalence()"
                                        >
                                    </mat-slider>
                                </div>
                                <div fxFlex="nogrow">
                                    <mat-icon matTooltip="Drag to increase or decrease prevalence of event in the population - 100% is current value">help_outline</mat-icon>
                                </div>
                            </div>
                            <div class="button-container">
                                <button mat-fab [disabled]="!(calculated && simulated)" class="btn btn-success" color="accent" (click)="onReset()"><mat-icon>replay</mat-icon></button>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        
                <div fxLayout='row' fxLayout.lt-sm="column" class="results-panel"> 
                    <div fxFlex="50">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header title="Risk Difference">
                                    <mat-panel-title class="fixed-width-title">
                                        Risk Difference/Absolute Risk Reduction
                                    </mat-panel-title>
                                    <mat-panel-description *ngIf="study?.riskDiff">
                                        <changer-component [value]="study?.riskDiff * 100| number:'1.0-0'"></changer-component>%
                                        <!--{{study?.riskDiff * 100| number:'1.0-0'}}%-->
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!--h3>Risk Difference</h3-->
                                <p><em>Risk Difference</em> (RD) or <em>Absolute Risk Reduction</em> (ARR) is the difference in the event rate between control group event rate (CER = {{study?.eventRateControl | number:'1.2-2'}}) and experimental (or intervention) group event rate (EER = {{study?.eventRateInterv | number:'1.2-2'}}): RD = CER - EER x 100 ({{study?.riskDiff * 100| number:'1.0-0'}} = {{study?.eventRateControl | number:'1.2-2'}} - {{study?.eventRateInterv | number:'1.2-2'}} x 100)</p>
                                <div fxLayout='row' fxLayoutAlign="center top">
                                    <div fxFlex="20%" class="number-ll">Lower 95% CI</div>
                                    <div fxFlex="20%" class="number-mean">Risk Difference</div>
                                    <div fxFlex="20%" class="number-ul">Upper 95% CI</div>
                                </div>
                                <div fxLayout='row' fxLayoutAlign="center bottom">
                                    <div fxFlex="30%" class="left-whisker-top"></div>
                                    <div fxFlex="30%" class="right-whisker-top"></div>
                                </div>
                                <div fxLayout='row' fxLayoutAlign="center top">
                                    <div fxFlex="30%" class="left-whisker-bottom"></div>
                                    <div fxFlex="30%" class="right-whisker-bottom"></div>
                                </div>
                                <div fxLayout='row' fxLayoutAlign="center top">
                                    <div fxFlex="20%" class="number-ll" *ngIf="study?.riskDiffLL95CI">{{study?.riskDiffLL95CI * 100| number:'1.0-0'}}%</div>
                                    <div fxFlex="20%" class="number-mean" *ngIf="study?.riskDiff">{{study?.riskDiff * 100 | number:'1.0-0'}}%</div>
                                    <div fxFlex="20%" class="number-ul" *ngIf="study?.riskDiffUL95CI">{{study?.riskDiffUL95CI * 100 | number:'1.0-0'}}%</div>
                                </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header title="Relative Risk">
                                    <mat-panel-title class="fixed-width-title">
                                        Relative Risk
                                    </mat-panel-title>
                                    <mat-panel-description *ngIf="study?.relativeRisk">
                                        <changer-component [value]="study?.relativeRisk * 100 | number:'1.0-0'"></changer-component>%
                                        <!--{{study?.relativeRisk * 100 | number:'1.0-0'}}%-->
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!--h3>Relative Risk</h3-->
                                <p><em>Relative Risk</em> (RR) is the ratio of the risk of an event in the experimental (or intervention) group event rate (EER = {{study?.eventRateInterv | number:'1.2-2'}}) compared with the control group event rate (CER = {{study?.eventRateControl | number:'1.2-2'}}): RR = EER / CER x 100 ({{study?.relativeRisk * 100 | number:'1.0-0'}} = {{study?.eventRateInterv | number:'1.2-2'}} / {{study?.eventRateControl | number:'1.2-2'}} x 100)</p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header title="Relative Risk Reduction">
                                    <mat-panel-title class="fixed-width-title">
                                        Relative Risk Reduction
                                    </mat-panel-title>
                                    <mat-panel-description *ngIf="study?.relativeRiskReduction">
                                        <changer-component [value]="study?.relativeRiskReduction * 100 | number:'1.0-0'"></changer-component>%
                                        <!--{{study?.relativeRiskReduction * 100 | number:'1.0-0'}}%-->
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!--h3>Relative Risk Reduction</h3-->
                                <p><em>Relative Risk Reduction (RRR)</em> is the percentage reduction in events in the experimental (or intervention) group event rate (EER = {{study?.eventRateInterv | number:'1.2-2'}}) compared with the control group event rate (CER = {{study?.eventRateControl | number:'1.2-2'}}): RRR = (CER - EER) / CER x 100 ({{study?.relativeRiskReduction * 100 | number:'1.0-0'}} = ({{study?.eventRateControl | number:'1.2-2'}} - {{study?.eventRateInterv | number:'1.2-2'}}) / {{study?.eventRateControl | number:'1.2-2'}} x 100)</p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header title="Odds Ratio">
                                    <mat-panel-title class="fixed-width-title">
                                        Odds Ratio
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <changer-component [value]="study?.oddsRatio | number:'1.2-2'"></changer-component>
                                        <!--{{study?.oddsRatio | number:'1.2-2'}}-->
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!--h3>Odds Ratio</h3-->
                                <p><em>Odds Ratio</em> (OR) odds of an event happening in the experimental (or intervention) group (EO) divided by the odds in the control group (CO): OR = EO/CO ({{study?.oddsRatio | number:'1.2-2'}} = {{study?.oddsInterv | number:'1.2-2'}} / {{study?.oddsControl | number:'1.2-2'}})</p>
                                <div fxLayout='row' fxLayoutAlign="center top">
                                    <div fxFlex="20%" class="number-ll">Lower 95% CI</div>
                                    <div fxFlex="20%" class="number-mean">Odds Ratio</div>
                                    <div fxFlex="20%" class="number-ul">Upper 95% CI</div>
                                </div>
                                <div fxLayout='row' fxLayoutAlign="center bottom">
                                    <div fxFlex="30%" class="left-whisker-top"></div>
                                    <div fxFlex="30%" class="right-whisker-top"></div>
                                </div>
                                <div fxLayout='row' fxLayoutAlign="center top">
                                    <div fxFlex="30%" class="left-whisker-bottom"></div>
                                    <div fxFlex="30%" class="right-whisker-bottom"></div>
                                </div>
                                <div fxLayout='row' fxLayoutAlign="center top">
                                    <div fxFlex="20%" class="number-ll">{{study?.oddsRatioLL95CI | number:'1.2-2'}}</div>
                                    <div fxFlex="20%" class="number-mean">{{study?.oddsRatio | number:'1.2-2'}}</div>
                                    <div fxFlex="20%" class="number-ul">{{study?.oddsRatioUL95CI | number:'1.2-2'}}</div>
                                </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header title="Number Needed to Treat">
                                    <mat-panel-title class="fixed-width-title">
                                        Number Needed to Treat
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <changer-component [value]="study?.numberNtt | number:'1.1-1'"></changer-component>
                                        <!--{{study?.numberNtt | number:'1.1-1'}}-->
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!--h3>Number Needed to Treat</h3-->
                                <p><em>Number Needed to Treat</em> (NNT) is the number of patients, on average, who need to be treated to prevent one bad outcome. It is the inverse of the Risk Difference (RD = {{study?.riskDiff | number:'1.2-2'}}): NNT=1/RD ({{study?.numberNtt | number:'1.1-1'}} = 1 / {{study?.riskDiff | number:'1.2-2'}}</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>  
                    
                    <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
                        <!--mat-card>
                            <mat-card-content-->
                                <div fxFlex="100%" fxFlex.md="75%" fxFlex.sm="75%" fxFlex.gt-md="50%" >
                                    <cates-component *ngIf="study?.updated" [noOfGood]="noOfGood" [noOfOK]="noOfOK" [noOfLetDown]="noOfLetDown" [noOfBad]="noOfBad" [textGood]="textGood" [textOK]="textOK" [textLetDown]="textLetDown" [textBad]="textBad" [noOfRowsAndColumns]="noOfRowsAndColumns" type="treatment"></cates-component>
                                </div>
                            <!--/mat-card-content>
                        </mat-card-->
                    </div>
                </div>
        
    </div>  
</div>