/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin: 0;
}

mat-icon.size-40 {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
}

.mat-card {
  margin: 10px 0px 0px 10px;
}

.mat-form-field-infix {
    width: 100% !important;
}

@keyframes textThrobAnimation {
  0%   { color: #333; font-weight:normal}
  50%  { color: #e8ab1e; font-weight:normal }
  100% { color: #333; font-weight:normal }
}
@-o-keyframes textThrobAnimation{
  0%   { color: #333; font-weight:normal}
  50%  { color: #e8ab1e; font-weight:normal }
  100% { color: #333; font-weight:normal }
}
@-moz-keyframes textThrobAnimation{
  0%   { color: #333; font-weight:normal}
  50%  { color: #e8ab1e; font-weight:normal }
  100% { color: #333; font-weight:normal }
}
@-webkit-keyframes textThrobAnimation{
  0%   { color: #333; font-weight:normal}
  50%  { color: #e8ab1e; font-weight:normal }
  100% { color: #333; font-weight:normal }
}

.pulse {
    animation: textThrobAnimation 1s infinite;
}

.source {
  margin: 2em 0 0 0;
  text-align: center;
  font-size: 0.8em;
}

.knocked-back {
  color: #ccc;
}

.knocked-back a {
  color: #ccc !important;
}

.header-no-top-margin{
  margin-top: 0px;
}